body
{
    margin: 0;
    text-align: center;
}
button
{
    border-radius: 10px;
    background-color: red;
}
.card
{
    width: 326px;
    height: 552px;
    margin: 0 auto;
    background-image: url('../images/dos.png');
}

button:active ~ .card
{
    background-image: url('../images/face.png');
}